/*Navbar*/



/* Landing page animated background */
#particles-js {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url('');
    background-size: fit;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}




#aboutsection {
    background: linear-gradient(-45deg, #55af70, #c3bfdb, #39b6b0, #4d86bb);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



/* About me Hover end*/


.techskillsborder {
    line-height: 50px;
    padding: 6px 6px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px;
}

.contbut {
    border: 1px white solid;
    font-size: 18px;
    border-radius: 50px;
    padding: 7px 40px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.contbut:hover {
    transition: 0.3s;
    background-color: rgb(49, 49, 49);

}

.Softskillsborder {
    line-height: 50px;
    padding: 6px 6px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px;
}

.personalskillsborder {
    line-height: 50px;
    padding: 6px 6px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 2px;
}

/* About me Hover end*/

/* Personal Projects Section slider */









/* Video Editing Section videos  */


.video-sec-wrap {
    width: 100%;
    min-height: 100vh;
}

.video-sec {
    width: 100%;
    margin: 3em auto;
    border-bottom: 2px solid #353535;
    text-align: left;
}

.video-sec-middle {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    padding: 20px 0;
}

.thumb-wrap {
    display: inline;
    cursor: pointer;
}

.thumb {
    display: block;
    margin: .4em;
    width: 100%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
    transition: all .2s ease-in-out;
}

.thumb:hover {
    opacity: .8;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .5);
}

.thumb-info {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: .4em;
}

.thumb-title {
    color: #f5f5f5;
    margin: 0;
    font-size: 1.2em;
}

.thumb-user {
    color: #7e7e7e;
    display: block;
    margin: 0;
    font-size: .9em;
}

.thumb-text {
    color: #7e7e7e;
    display: inline-block;
    margin: 0;
    font-size: .8em;
}

.video-sec-title {
    font-weight: bolder;
    font-size: 1.4em;
    color: #f5f5f5;
    margin: 5px 0 10px 10px;
}

.video-showmore {
    font-weight: bold;
    font-variant: all-petite-caps;
    display: block;
    color: #7e7e7e;
    padding: 10px;
    font-size: 1.2em;
}

@media only screen and (max-width: 1456px) {
    .video-sec-middle {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .video-sec-middle {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 756px) {
    .video-sec-middle {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 496px) {
    .video-sec-middle {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* TABS */
#tabs3 {
    transition: 0.1s;
}

#tabs3:hover {
    background-color: #303030;
    border-radius: 4px;
    transition: 0.1s;
}


/* Icon Last Part */
#iconiclast {
    border: 2px rgb(133, 131, 131) solid;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

#iconiclast:hover {
    border: 2px rgb(167, 166, 166) solid;
    color: #adadad;
    transition: 0.3s;
    transform: translateY(-7%);
}
